
*.pyc
GUI/__pycache__/window_exp_setup.cpython-36.pyc
*.pyc
*.pyc
GUI/__pycache__/window_exp_setup.cpython-36.pyc
GUI/__pycache__/window_measure.cpython-36.pyc
GUI/__pycache__/window_exp_setup.cpython-36.pyc
